/* testing some styles */

.ad_cards {
    position: relative;
  }
  .ad-cards .ac {
    min-width: 610px;
    min-height: 375px;
    position: absolute;
  }
  .ad-cards .ac {
    background-color: #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    outline: 1px solid var(--primary-3);
    border-radius: 5px;
    background-image: url('https://6637851.fs1.hubspotusercontent-na1.net/hubfs/6637851/Api%20Direct%20Version%202%20Resources/Image/Api_directv.1.png');
  }
  .ad-cards .ac.fore {
    transform: translate(40px, 40px);
  }
  .ad-cards .ac.back {
    transform: rotate(-4.02deg);
    background-color: #cccccc;
  }
  
  section.probably-ads .ad-card-right {
    width: 350px;
  }
  
  
  @media (width > 1024px) {
    section.probably-ads .ad-card-right {
        width: 450px;
    }
    section.probably-ads .ad-card-right p {
        width: 350px;
    }
  }
  
  div.not-got-hold {
    position: relative;
  }
  
  img.not-got-dots.left {
    position: absolute;
    left: -40px;
    top: -120px;
  }
  
  img.not-got-dots.right {
    position: absolute;
    right: -40px;
    top: -120px;
  }
  
  img.not-got-dots.bottom {
    position: absolute;
    right: 0;
    bottom: -120px;
    transform: rotate(180deg);
  }
  
  div.not-got {
    position: relative;
    border-radius: 32px;
    border: 2px solid #cccccc;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
  }
  
  div.not-got .form-hold {
    width: 452px;
  }
  
  #ngth {
    max-width: 420px;
  }
  
  @media (1024px < width < 1399px) {
    .ad-cards .ac {
        min-width: 380px;
        min-height: 234px;
    }
    section.probably-ads .container {
        min-height: 300px;
    }
  }
  
  @media (769px < width < 1023.98px) {
    .ad-cards .ac {
        min-width: 278px;
        min-height: 170px;
    }
    section.probably-ads .container {
        min-height: 200px;
    }
    section.what .what-title,
    section.what .what-desc {
        width: 50%;
    } 
    section.what .start-browsing {
        transform: translateY(20px);
    }
    #ngth {
        width: 310px;
    }
    section.container.not-got-hold {
        padding: 0;
    }
    div.not-got .form-hold {
        width: 340px;
    }
    div.not-got {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    
  }
  
  @media (width < 768.98px) {
    .ad-cards .ac {
        min-width: 247px;
        min-height: 141px;
    }
    section.probably-ads .ad-cards {
        max-width: 300px;
    }
    section.probably-ads .container .ad-card-right {
        margin: auto;
    }
    section.probably-ads .container .ad-cards {
        min-height: 200px;
        transform: translateX(30%);
    }
    div.not-got {
        row-gap: 1rem;
    }
    img.not-got-dots {
        display: none;
    }
    section.what .what-title {
        width: 100%;
    }
    section.what .what-title .fsxl40 {
        font-size: 32px;
        line-height: 39px;
    }
    section.what .what-desc{
        width: 100%;
    }
    div.not-got .form-hold {
        width: min(80vw, 380px);
        margin: auto;
    }
    section.what .start-browsing {
        transform: translateY(20px);
    }
    #ngth {
        width: 90%;
    }
  }
  
  @media (width < 480.98px) {
    section.probably-ads .container .ad-cards {
        transform: translateX(10%);
    }
    section.hero .browse span {
        display: none;
    }
  }
  @media (width > 480px) {
    #carousel-hold {
        padding-left: 0;
        padding-right: 0;        
    }
  }
  .scroller {
    position: relative;
    overflow: hidden;
    width: 20rem;
    height: 1.8ch;
  }
  
  @media (width > 100px) {
    .scroller {
        width: 100%;
    }
  }
  
  .scroller > span {
    position: absolute;
    top: 0;
    animation: slide 10s infinite;
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    20% {
      top: -1.2em;
    }
    40% {
      top: -2.4em;
    }
    60% {
      top: -3.6em;
    }
    80% {
        top: -4.8em;
    }
    100% {
        top: 0;
    }
  }
  
  
  .home_hero {
    margin-top: 20vh;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 10vh;
  }
  
  .join_card {
    max-width: 310px;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .join_img {
    position: relative;
    overflow: hidden;
    width: 228px;
    height: 228px;
    margin-bottom: 20px;
    background: rgba(145, 145, 145, 0.37);
    border-radius: 25px;
  }
  .join_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .form_hold {
    background-color: #001a21;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* height: 550px; */
    border-radius: 30px;
    margin-top: 2rem;
    overflow: hidden;
  }
  
  
  @media (width > 576px) {
    .form_hold {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  
  .log,
  .reg {
    display: none;
  }
  
  .nav {
    display: flex;
    margin: auto;
    position: relative;
    align-items: center;
    height: 45px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    column-gap: 3rem;
    width: fit-content;
  }
  
  .nav label {
    font-family: var(--font-roboto);
    width: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }
  
  .nav .slider {
    width: 145px;
    background-color: rgba(5, 155, 156, 0.2);
    border-radius: 25px;
    height: 100%;
    position: absolute;
    transition: 0.2s ease;
    left: 0;
  }
  
  .log:checked ~ .nav .slider {
    left: 53%;
    width: 125px;
  }
  
  .content {
    position: relative;
  }
  
  .content > div {
    padding: 3rem;
    /* position: absolute; */
    width: 100%;
    transition: all 0.4s ease;
  }
  
  .content > div:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .content .reg_div {
    transform: translateX(-100%);
    left: 0;
  }
  
  .content .log_div {
    transform: translateX(100%);
    right: 0;
  }
  
  .reg:checked ~ .content .reg_div,
  .log:checked ~ .content .log_div {
    transform: translateX(0);
  }
  
  .push_down {
    margin-top: 6rem;
  }
  
  @media (width < 991.98px) {
    .push_down {
      display: none;
    }
  
    .content > div {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }