.hub_hero {
    padding-top: 1rem;
}
.hub_table {
    font-family: var(--font-mont);
    color: #fff;
}

.table_head th{
    padding-bottom: 1.5rem;
}

.table_head_tr_tick {
    font-size: 1.1rem;
    text-align: center;
    width: 14ch;
    position: relative;
    width: 15%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.table_head_tr_tick::before{
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 15px);
    top: -5px;
    left: 5px;
    border: 1px dashed var(--primary-1);
    border-radius: 10px;
    background-color: var(--primary-3-25);
}

.table_head_tr_tick div {
    font-weight: 400;
    font-size: x-small;
}

.table_head_tr1 {
    font-size: 2rem;
    width: 30%;
    padding-left: 1rem;
}

.table_body {
    background-color: rgba(2, 45, 51, 0.75);
}
.table_body tr:hover {
    transition: 0.2s ease;
    background: rgba(2, 45, 51, 0.75);
}
.table_body_tr td {
    padding: 1rem;
}

.table_body_tr1 {
    max-width: 50%;
    position: relative;
}
.table_body_tr1 p {
    position: absolute;
    visibility: hidden;
    left: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary-1);
    font-size: small;
    margin-bottom: 0;
}
.table_body_tr:hover p {
    visibility: visible;
    z-index: 2;
}
.table_body_tr_tick {
    text-align: center;
    position: relative;

} 
.table_body_tr_tick::before {
    content: "";
    width: calc(100% - 10px);
    height: 100%;
    left: 5px;
    z-index: -1;
    position: absolute;
    top: -15px;
    background-color: #0D9B9C;
}
.table_body_tr:first-child .table_body_tr_tick::before {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.table_body_tr:last-child .table_body_tr_tick::before {
    height: calc(100% + 15px);
}

.pricing_head {
    background-color: var(--primary-5);
}
.pricing_head .table_body_tr_tick {
    font-size: 12px;
    padding: 0.5rem;
}
.pricing_head .table_body_tr1 {
    font-weight: 600;
}

@media (width < 540px) {
    .table_body {
        font-size: smaller;
    }
    .table_head_tr_tick {
        font-size: 0.9rem;
        min-width: 100px;
    }
    .hub_hero {
        max-width: 100vw;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .table_head_tr1 {
        font-size: 1.3rem;
        min-width: 70vw;
    }
}


.c_card_hold {
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.c_card {
    width: clamp(min(10vw,20rem),300px,max(90vw,55rem));
    padding: 1rem;
    border-radius: 20px;
    background: var(--primary-3-25);
    border: 1px solid var(--primary-3-25);
    backdrop-filter: blur(4px);
    box-shadow: -6px 8px 10px var(--primary-3);
    transition: all 0.3s ease;

}
.c_card_header {
    color: var(--c-primary);
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.c_card:hover {
    box-shadow: none;
    transform: translate(-6px, 8px);
}
.c_card_header {
    margin-top: 0.5rem;
    color: var(--primary-1);
    font-family: var(--font-mont);
    font-weight: 600;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.c_card_body {
    margin-top: 0.5rem;
    font-family: var(--font-roboto);
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
}