.contact_form {
    display: flex;
    flex-wrap: wrap;
}

.contact_form > div {
    padding: 1rem 3rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

@media (width < 767.98px) {
    .contact_form > div {
        padding: 1rem 1rem 1rem 0rem;
    }
}

.contact_form input,
.contact_form select,
.contact_form textarea {
    background-color: transparent;
    border: none;
    color: #c5c5c5;
    font-family: var(--font-mont);
    border-bottom: 1px solid #fff;
    outline: none;
}

.contact_form label {
    font-family: var(--font-mont);
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.contact_form button {
    width: 150px;
    height: 2.5rem;
    font-family: var(--font-mont);
    background-color: transparent;
    color: #fff;
    outline: none;
    border-color: #fff;
    font-weight: 600;
    transition: 0.2s ease;
}

.contact_form button:hover {
    background-color: #fff;
    color: #000;
}